a {
    text-decoration: none;
}

.full-width {
    width: 100%;
}

// 自定义dialog样式
.custom-dialog {
    .el-dialog__header {
        padding: 5px 10px;
        border-bottom: 1px solid #DDD;
        background: #f8f8f8;
    }
    .el-dialog__title {
        font-size: 16px;
    }
    .el-dialog__headerbtn {
        top: 10px;
        right: 10px;
    }
    .el-dialog__footer {
        border-top: 1px solid #ececec;
        padding: 6px;
        background: #f7f7f7;
    }
    .el-dialog__body {
        max-height: 400px;
        overflow: auto;
    }
}

//自定义table样式
.custom-table {
    th, td {
        padding: 2px 0;
    }
}

// 分类布局样式
.content-top {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.content-center {
  margin-top: 10px;
}

